<!DOCTYPE html>
<html>
<head>
  <title>PivorakBusTicketsSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background_img">

  <nav class="navbar" id="link_bg_color">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><img alt="Brand" src="/assets/travel_bus.ico" width="30" height="20"></a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
